* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_heading {
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blue;
    color: white;
    width: 100%;
    height: auto;
    padding: 12px;
}

#code_box1 {
    width: 90%;
    margin: 30px auto;
    height: 520px;
}

legend {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
}

#code {
    width: 100%;
    height: 90%;
    border: none;
    padding: 20px;
    font-size: 18px;
    outline: none;
}

#run_btn {
    padding: 10px;
    font-weight: bold;
    margin: 10px;
}

#result {
    width: 100%;
    height: 93%;
    padding: 15px;
    overflow: scroll;
}

#code_box2 {
    display: none;
    margin: 30px auto;
    width: 90%;
    height: 520px;
}

#return_btn {
    display: none;
    padding: 10px;
    font-weight: bold;
    margin: 10px;
}
